html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff0a0;
  background-image: linear-gradient(315deg, #fffad9 0%, #d8ffd6 100%);
  font-family: Arial, Helvetica, sans-serif;
}

.about-me {
  overflow: hidden;
}

.about-me__description {
  color: #7e0e06;
  padding: 16px;
  font-size: 16px;
  line-height: 22px;
}

.about-me__heading {
  color: #15616d;
}

.about-me__picture {
  max-width: 250px;
  max-height: 350px;
  padding-right: 16px;
  margin-bottom: 16px;
  float: left;
}

.footer {
  color: #78290f;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
}

.footer__link {
  color: #78290f;
}

.footer__link--top {
  color: #ff7d00;
}

.header {
  top: 0;
  position: sticky;
}

.lesson__description {
  color: rgb(29, 28, 28);
  /* margin-bottom: 32px; */
  font-size: 16px;
  line-height: 22px;
}

.lesson__link {
  color: darkred;
}

.lesson__title {
  color: #b62dc9;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 16px;
}

.main__heading {
  color: #022b3a;
  margin: 0;
  margin-top: 16px;
}

.main__picture {
  max-width: 200px;
  max-height: 200px;
}

.navigation {
  background: #478a05;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--css {
  background: yellow;
  color: #000;
}

.navigation__link--homepage {
  background: yellow;
  color: #000;
}

.navigation__link--html {
  background: yellow;
  color: #000;
}

.navigation__link--javascript {
  background: yellow;
  color: #000;
}

.notes__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 16px;
}

.notes__heading {
  color: #1f7a8c;
}

.week-summary {
  padding: 0 16px;
  border: 2px solid #ccc;
  /* margin-bottom: 16px; */
}

.week-summary--special {
  border: 1px solid #92140c;
}

.week-summary__heading {
  color: #21a179;
  margin-bottom: 32px;
}
