$tablet: 768px;
$link-color: rgb(49, 49, 49);

@mixin line-style {
  font-size: 16px;
  line-height: 22px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff0a0;
  background-image: linear-gradient(315deg, #fffad9 0%, #d8ffd6 100%);
  font-family: Arial, Helvetica, sans-serif;
}

.about-me {
  &__description {
    color: #7e0e06;
    margin-bottom: 32px;
    @include line-style;
    @media (min-width: $tablet) {
      padding: 0 16px;
      margin: 0;
    }
  }
  &__grid {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }
  &__heading {
    color: #15616d;
    &::after {
      content: " 👋";
    }
  }
  &__picture {
    display: block;
    max-width: 100%;
    @media (min-width: $tablet) {
      //   max-width: 300px;
      //   max-height: 400px;
      //   padding-right: 16px;
      //   float: left;
      margin-bottom: 16px;
    }
  }
  //   @media (min-width: $tablet) {
  //     overflow: hidden;
  //   }
}

.footer {
  color: #78290f;
  max-width: 1000px;
  margin: 0 auto;
  @include line-style;
  &__link {
    text-decoration: none;
    color: #9c320f;
    font-weight: bold;
    &--top {
      color: #ff7d00;
    }
  }
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background: none;
  @media (min-width: $tablet) {
    display: none;
  }
}

.header {
  background: #5bba6f;
  min-height: 60px;
  position: sticky;
  top: 0;
  //   position: fixed;
  //   top: 0;
  width: 100%;
  border-radius: 8px;
}

.lesson {
  &__description {
    color: rgb(29, 28, 28);
    @include line-style;
  }
  &__link {
    color: darkred;
  }
  &__title {
    color: #b62dc9;
  }
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  //   margin: 70px auto 0;
  &__grid {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 8px;
      row-gap: 16px;
    }
  }
  &__heading {
    color: #05115a;
    margin: 16px 0 0;
  }
  &__picture {
    max-width: 200px;
    max-height: 200px;
  }
}

.navigation {
  padding: 16px;
  display: none;
  &--open {
    display: block;
  }
  &__link {
    text-decoration: none;
    color: rgb(255, 243, 137);
    display: block;
    margin: 0 0 16px;
    &:hover {
      color: rgb(177, 29, 10);
      font-weight: bold;
    }
    &--css {
      color: $link-color;
    }
    &--homepage {
      color: $link-color;
    }
    &--html {
      color: $link-color;
    }
    &--javascript {
      color: $link-color;
    }
    @media (min-width: $tablet) {
      margin: 0;
    }
  }
  @media (min-width: $tablet) {
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.notes {
  &__grid {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 8px;
      row-gap: 16px;
    }
  }
  &__heading {
    color: #1f7a8c;
    &::after {
      content: " 🔥";
    }
  }
}

.week-summary {
  padding: 0 16px;
  border: 2px solid #ccc;
  margin-bottom: 16px;
  &--special {
    border: 1px solid #92140c;
  }
  &__heading {
    color: #21a179;
    margin-bottom: 32px;
    &::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgb(148, 4, 4);
    }
  }
  @media (min-width: $tablet) {
    margin: 0;
  }
}
