body {
  background: #fefefe;
}

.about-me {
  overflow: hidden;
}

.about-me__description {
  color: #7e0e06;
  padding: 16px;
}

.about-me__picture {
  max-width: 200px;
  max-height: 300px;
  padding-right: 16px;
  margin-bottom: 16px;
  float: left;
}

.about-me__title {
  color: #15616d;
}

.footer {
  color: #78290f;
  max-width: 1000px;
  margin: 0 auto;
}

.footer__link {
  color: #78290f;
}

.footer__link--top {
  color: #ff7d00;
}

.lesson {
  background: #ffffff;
}

.lesson__link {
  color: darkred;
}

.main__title {
  color: #022b3a;
}

.main__picture {
  max-width: 200px;
  max-height: 200px;
  padding: 32px;
}

.lesson__description {
  color: rgb(29, 28, 28);
  margin-bottom: 32px;
}

.lesson__title {
  color: #b62dc9;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.navigation {
  background: #478a05;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--css {
  background: yellow;
  color: #000;
}

.navigation__link--homepage {
  background: yellow;
  color: #000;
}

.navigation__link--html {
  background: yellow;
  color: #000;
}

.navigation__link--javascript {
  background: yellow;
  color: #000;
}

.notes__title {
  color: #1f7a8c;
}

.week-summary {
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.week-summary--special {
  border: 1px solid #92140c;
}

.week-summary__title {
  color: #21a179;
  margin-bottom: 32px;
}
